*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(189, 235, 255);
}


.navbar{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 100px;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-style: bold;
    transition: border-bottom 0.2s ease;
    border-bottom: 2px solid transparent;
}

.navbar a:hover{
    border-bottom: 2px solid black;
}

.searchbar{
    margin-right: auto;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 14px;
}

